<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/base.html :: header(title = 'SCM | Services')}"></head>
  <body class="font-roboto dark:bg-gray-800 dark:text-slate-300">
    <nav th:replace="~{fragments/navbar.html :: navbar}"></nav>

    <h1 class="text-3xl dark:text-[#E0C097]">This is Services Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi est
      explicabo mollitia sit deleniti perspiciatis impedit ratione expedita.
      Nesciunt, animi?
    </p>

    <script th:replace="~{fragments/base.html :: flowbite-js}"></script>
    <script th:replace="~{fragments/base.html :: app-js}"></script>
  </body>
</html>
