<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{fragments/base.html :: header(title = 'SCM | Signup')}"
  ></head>
  <body class="font-roboto">
    <nav th:replace="~{fragments/navbar.html :: navbar}"></nav>

    <h1 class="text-3xl">This is Signup Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore,
      consequuntur atque beatae, incidunt voluptates, porro odio tempora
      architecto excepturi deserunt a dolor! Tempora, aspernatur rem ducimus
      veritatis placeat repellendus doloribus, voluptatem maiores iusto esse
      tempore, accusantium dolorem soluta laborum pariatur voluptatum sit. Magni
      impedit numquam nobis debitis ut officiis eveniet.
    </p>

    <script th:replace="~{fragments/base.html :: flowbite-js}"></script>
  </body>
</html>
